<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715412052051-ev2rcbhjsk4tgfcoe6n63nejmiemd7si.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715412052051-ev2rcbhjsk4tgfcoe6n63nejmiemd7si</string>
	<key>API_KEY</key>
	<string>AIzaSyClpJv_3KTkaIyJB38tToWj6yak3opz5oA</string>
	<key>GCM_SENDER_ID</key>
	<string>715412052051</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Picturesque.BecomeTheMaster</string>
	<key>PROJECT_ID</key>
	<string>thestudentbecomethemaster</string>
	<key>STORAGE_BUCKET</key>
	<string>thestudentbecomethemaster.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715412052051:ios:3dbb2afb1d7ea574208ea6</string>
</dict>
</plist>